[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "==20.1.0"
graphene-django = "==3.1.5"
django-environ = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
